*{
    margin: 0;
}


.mySlides {
    display:none;
} 

.a1{ 
    top: 17%;
    left: 70%;
    transform: translate(-50%, -50%);
    color:black;
    text-decoration: none; 
    padding-left: 0.2cm;
    font-size: 20px;
    position: absolute;
}

a{ 
    top: 30%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-decoration: none; 
    padding-left: 0.2cm;
    font-size: 20px;
    color: black;
    
}

a:hover {
    color: orange;
    text-decoration: none;
}

#image1{

    width: 342px; 
    height:236px; 
    position: absolute;
    top: -18px; 
}

table {
    margin-left: 110px; 
      border-collapse: collapse;
      width: 85%;
      position: absolute;
      top: 217px; 
  }

.border{

    border: 1px solid #0000009e;;
    padding-bottom: 342px; 
    padding-right: 1151px; 
    margin-left: 106px; 
    position: absolute;
    margin-top: 217px; 
    background-color:#0000009e;
    
}
  
  th, td {
      padding: 8px;
      text-align: left;
      border-bottom: 1px solid #ddd;
      font-size: 17px; 
      color: white;
      font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  }
  
  tr:hover {background-color:rgb(236, 134, 17)}

  button {
    background-color:rgb(110, 170, 173);
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 100%;
    opacity: 0.9;
}

button:hover {
    opacity:1;
    background-color: rgb(90, 173, 90);
    transition: .7s ease;
}


.footer{
    background-color:black;
    padding: 72px;

}

h3{

    position: absolute;
    left: 17%;
    top: 785px;
    color: lightgray;
}

ul{
    position: absolute;
    top: 816px;
    left: 15%;
    color: lightgray;
}


h4{

    position: absolute;
    right: 12%;
    top: 836px;
    color: lightgray;
}



/*
#tab1{
    position: absolute;;
    margin: 247px 360px;
    size: 300%;
    background-color:#b5ccdf;
    opacity: 0.5
    ; 

}
th {
    padding: 20px;
    
}
td{
    padding: 20px;
    font-size: 20px;
    color: black;
    
}
*/



