body {
    background-image: url(image/background.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    color: beige;
    
    
}
.img1 {
    width: 430px;
    position: absolute;
    left: 465px;
}
.title1 {
    position: absolute;
    left: 449px;
    top: 212px;
    font-size: 41px;
    border: 1px solid #fbfbfb85;
    padding-right: 336px;
    padding-left: 151px;
    padding-bottom: 572px;
    background-color: #00000059;
    
}
.title {
    position: absolute;
    left: 508px;
    top: 279px;
    font-size: 35px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.Username {
    position: absolute;
    left: 506px;
    top: 391px;
    font-size: 19px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    
}
.myid1 {
    position: absolute;
    left: 502px;
    top: 422px;
    background-color:  #d4d4d475;
    border-top: 0px;
    border-bottom: 1px solid #e4e4e4;
    border-right: 0px;
    border-left: 0px;
    padding-right: 223px;
    padding-bottom: 10px;
    padding-top: 3px;
    
    
}
.message0 {
    position: absolute;
    left: 506px;
    top: 438px;
    color: red;
}
.email {
    position: absolute;
    left: 506px;
    top: 475px;
    font-size: 19px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    
    
}
.message1 {
    position: absolute;
    left: 506px;
    top: 525px;
    color:red;
}
.myid2 {
    position: absolute;
    left: 503px;
    top: 512px;
    background-color:   #d4d4d475;
    border-top: 0px;
    border-bottom: 1px solid #e4e4e4;
    border-right: 0px;
    border-left: 0px;
    padding-right: 223px;
    padding-bottom: 10px;
    padding-top: 3px;
    
    
    
}
.message2 {
    position: absolute;
    left: 506px;
    top: 566px;
    font-size: 19px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    
}
.myid3 {
    position: absolute;
    left: 503px;
    top: 600px;
    background-color: #d4d4d475 ;
    border-top: 0px;
    border-bottom: 1px solid #e4e4e4;
    border-right: 0px;
    border-left: 0px;
    padding-right: 253px;
    padding-bottom: 10px;
    padding-top: 3px;
    
}
.message3 {
    position: absolute;
    left: 506px;
    top: 615px;
    color: red;
}
.password {
    position: absolute;
    left: 506px;
    top: 653px;
    font-size: 19px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    
}
.myid4 {
    position: absolute;
    left: 503px;
    top: 687px;
    background-color:  #d4d4d475;
    border-top: 0px;
    border-bottom: 1px solid #e4e4e4;
    border-right: 0px;
    border-left: 0px;
    padding-right: 223px;
    padding-bottom: 10px;
    padding-top: 3px;
    
}
.message4 {
    position: absolute;
    left: 506px;
    top : 698px;
    
    
}
.button {
    position: absolute;
    left: 599px;
    top: 749px;
    padding-top: 13px;
    padding-left: 67px;
    padding-right: 74px;
    padding-bottom: 15px;
    border: 1px solid black;
    border-radius: 10px;
    background-color: black;
    color: white;
    
}
.title2 {
    position: absolute;
    left: 625px;
    top: 228px;
    font-size: 35px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    
}